<section>
    <div class="header text-center pt-4">
        <h1>CONTACT SECTION</h1>
        <div class="icon d-flex justify-content-center align-items-center pb-3">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3"></div>
        </div>
    </div>
    <div class="container p-5 ">
        <div class="p-5">
            <input  id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 mb-2">
            <input  id="userName" type="text" placeholder="userAge" name="userAge" class="form-control border-0 border-bottom py-3 mb-2">
            <input  id="userName" type="text" placeholder="userEmail" name="userEmail" class="form-control border-0 border-bottom py-3 mb-2">
            <input  id="userName" type="text" placeholder="userPassword" name="userPassword" class="form-control border-0 border-bottom py-3 mb-2">
            <button class="p-2 border-0 rounded-1 text-white pointer-event mt-3">Send Massege</button>
        </div>
    </div>
</section>
