<main class="d-flex justify-content-center align-items-center p-5 text-white text-center">
    <div class="w-0">
        <div class="icon d-flex justify-content-center pb-4">
            <img src="../../assets/avataaars.svg" class="w-75" alt="">
        </div>  
        <h1>START FRAMEWORK</h1>
        <div class="icon d-flex justify-content-center align-items-center pb-3">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line ms-3"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</main>
